extends default

block content
  section.hero.is-primary 
    .hero-body 
      .container
        .row.justify-content-md-center
          .col-12.col-md-11.col-lg-9.col-xl-7.col-xxl-6.text-center.p-4
            h1.title.has-text-centered Blog Posts

  section.section
    .container
      if posts
        .row
          each post in posts
            .col-md-4.mb-4
              .card
                .card-body
                  h5.card-title= post.title

                .card-footer
                  a.btn.btn-primary.me-2(href=`/post/${post.id}`) Read
                  a.btn.btn-warning.me-2(href=`/post/${post.id}/edit`) Edit
                  a.btn.btn-danger(href=`/post/${post.id}/delete`) Delete
